@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F1F1;
}

section {
    background-color: #f5e3d7;
}

.cricle-letters-l {
    animation: cl-spin-l infinite 20s linear;
    position: absolute;
}

.cricle-letters-r {
    animation: cl-spin-r infinite 20s linear;
    position: absolute;
}

.cricle-letters-l .cricle-letters-r img {
    width: 500px;
}

@keyframes cl-spin-l {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes cl-spin-r {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/*  */
.cloud{
    animation: move 6s ease infinite;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    height: 70px;
    width: 70px;
    box-shadow:
        #FFFFFF 65px -15px 0 -5px,
        #FFFFFF 25px -25px,
        #FFFFFF 30px 10px,
        #FFFFFF 60px 15px 0 -10px,
        #FFFFFF 85px 5px 0 -5px;
}

@keyframes move {
    50% {
        transform: translateY(-15px);
    }
}

.aheye-block1 {
    background-color: #f5e3d7;
}

.aheye-block-footer {
    background-color: #EEEEEE;
}