@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: #f5e3d7;
    height: 45rem;
}

.img-hero {
    width: 400px;
    height: 400px;
}

/* .img-hero img{
    height: 100%;
} */

.cricle-letters {
    animation: cl-spin infinite 20s linear;
    position: absolute;
}

.cricle-letters img {
    width: 500px;
}

@keyframes cl-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*  */
.cloud{
    animation: move 6s ease infinite;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    height: 60px;
    width: 60px;
    box-shadow:
        #FFFFFF 65px -15px 0 -5px,
        #FFFFFF 25px -25px,
        #FFFFFF 30px 10px,
        #FFFFFF 60px 15px 0 -10px,
        #FFFFFF 85px 5px 0 -5px;
}

@keyframes move {
    50% {
        transform: translateY(-15px);
    }
}